@(username: String)

@javaScript = {
<script type="text/javascript">
	
	$(function(){
		
	    var WS = window['MozWebSocket'] ? MozWebSocket : WebSocket;
	    
	 	//open connection with websocket
	    var socket = new WS('@routes.Application.gameWebSocket().webSocketURL(request)');   
	 	
	    var writeMessages = function(event){
	    	var jsonMsg = JSON.parse(event.data);
	    	console.log(event.data);
	    	var date = new Date();
	    	var hours = date.getHours();
	    	var minutes = date.getMinutes();
	    	if(minutes < 10){
	    		minutes = "0"+minutes;
	    	}
	        $('#socket-output').append('<p>'+jsonMsg.user+' ['+hours+':'+minutes+']: ' +jsonMsg.text+'</p>');
	    }
	    
	    socket.onmessage = writeMessages;
	    
	    $("#input").click(function(event){
	    	   var jsonMessage = {
	   	    		type: "message",
	   	    		user: "@username",
	   	    		text: document.getElementById("socketinput").value
	   	    	};
	            socket.send(JSON.stringify(jsonMessage));
	            $("#socketinput").val('');    
	    }); 
	    
	    $('#socketinput').keyup(function(event){
	        var charCode = (event.which) ? event.which : event.keyCode ;
	       
	        // if enter (charcode 13) is pushed, send message, then clear input field
	        if(charCode === 13){
	        	var jsonMessage = {
		   	    		type: "message",
		   	    		user: "@username",
		   	    		text: document.getElementById("socketinput").value
		   	    };
	            socket.send(JSON.stringify(jsonMessage));
	            $(this).val('');    
	        }
	    }); 
	});
	</script>
}

@main("Chatroom")(javaScript) {
	
	<h1>Chat Room Test</h1>
	<div id="socket-output">
		<p>Chatfenster:</p>
	</div>
	<p id="test"></p>
	<div id="chatfenster">
		<input id="socketinput" type="text"/>
		<button id="input">Send</button>
	</div>
	
}