@(message: String)
<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Spielfeld</title>
        <meta charset="utf-8">
        <link rel="stylesheet" media="screen" type="text/css" href="@routes.Assets.at("stylesheets/gameboard.css")">
        
    </head>
    <body>
    <h1>@message</h1>
        <div class="spielfeld">
            <div class="zeile">
                <p class="leer"><span></span></p>
                <p class="spielekarten">
                	<span>
                        <img src="http://placehold.it/40x60/99B1D7">
                        <img src="http://placehold.it/40x60/99B1D7">
                        <img src="http://placehold.it/40x60/99B1D7">
                        <img src="http://placehold.it/40x60/99B1D7">
                        <img src="http://placehold.it/40x60/99B1D7">
                        <img src="http://placehold.it/40x60/99B1D7">
                        <img src="http://placehold.it/40x60/99B1D7">
                        <img src="http://placehold.it/40x60/99B1D7">
                        <img src="http://placehold.it/40x60/99B1D7">
                        <img src="http://placehold.it/40x60/99B1D7">
                    </span>
                </p>
                <p class="leer"><span></span></p>
            </div>
            <div class="zeile">
                <p class="spielekarten">
                	<span>
                        <img src="http://placehold.it/40x60/99B1D7">
                        <img src="http://placehold.it/40x60/99B1D7">
                        <img src="http://placehold.it/40x60/99B1D7">
                        <img src="http://placehold.it/40x60/99B1D7">
                        <img src="http://placehold.it/40x60/99B1D7">
                        <img src="http://placehold.it/40x60/99B1D7">
                        <img src="http://placehold.it/40x60/99B1D7">
                        <img src="http://placehold.it/40x60/99B1D7">
                        <img src="http://placehold.it/40x60/99B1D7">
                        <img src="http://placehold.it/40x60/99B1D7">
                    </span>
                </p>
                <p class="ablage"><span >
                        <img id="deckblatt" src="http://placehold.it/40x60/B04C80">
                        <img id="ablagestapel" src="http://placehold.it/40x60/B04C80">
                    </span></p>
                <p class="spielekarten"><span>
                        <img src="http://placehold.it/40x60/99B1D7">
                        <img src="http://placehold.it/40x60/99B1D7">
                        <img src="http://placehold.it/40x60/99B1D7">
                        <img src="http://placehold.it/40x60/99B1D7">
                        <img src="http://placehold.it/40x60/99B1D7">
                        <img src="http://placehold.it/40x60/99B1D7">
                        <img src="http://placehold.it/40x60/99B1D7">
                        <img src="http://placehold.it/40x60/99B1D7">
                        <img src="http://placehold.it/40x60/99B1D7">
                        <img src="http://placehold.it/40x60/99B1D7">
                    </span></p>
            </div>
            <div class="zeile">
                <p class="leer"><span></span></p>
                <p class="spielekarten"><span>
                        <img src="http://placehold.it/40x60/99B1D7">
                        <img src="http://placehold.it/40x60/99B1D7">
                        <img src="http://placehold.it/40x60/99B1D7">
                        <img src="http://placehold.it/40x60/99B1D7">
                        <img src="http://placehold.it/40x60/99B1D7">
                        <img src="http://placehold.it/40x60/99B1D7">
                        <img src="http://placehold.it/40x60/99B1D7">
                        <img src="http://placehold.it/40x60/99B1D7">
                        <img src="http://placehold.it/40x60/99B1D7">
                        <img src="http://placehold.it/40x60/99B1D7">
                    </span></p>
                <p class="chat">
                    <output class="output" name="chatOutput"> Eingegebene Chatnachricht</output>
                    <input class="input" type="text" name="chatInput" placeholder="Chatfenster"/>
                </p>
            </div>
        </div>
    </body>
</html>
