@javaScript = {
<script type="text/javascript">
<!--

//-->
</script>
}

@main("Welcome to Play")(javaScript) {
	<header class="col-md-12" id="header">
			<a class="btn btn-link" href="@routes.Application.impressum()">Impressum</a>
	</header>
   	<div class="col-md-12 start">
		<section class="col-md-6 logo">
			<h1 class="startCenter"><span class="blueText">Will</span><span class="greenText">kom</span><span class="redText">men</span> <span class="yellowText">bei</span></h1>
			<div id="unologo">
				<br></br>
				<br></br>
				<br></br>
				<h1>UNO</h1>
				<h1>UNO</h1>
				<br></br>
				<br></br>
				<br></br>
			</div>
			<h1 class="startCenter"><span class="greenText">On</span><span class="yellowText">li</span><span class="redText">ne</span></h1>
			<h3 class="startCenter">Ein Projekt von D.Sickel</h3>
		</section>
		<section class="col-md-6 indexContent">
			<a class="btn btn-link" href="@routes.Application.login()"><h2>Zum Login</h2></a>
		</section>
	</div>
	<footer class="col-md-12" id="footer">
		<p> &COPY; 2014 | Dominic Sickel &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Projekt für Web-Technologien von der HTWG-Konstanz</p>
	</footer>
}
