@(user: model.User)

@javaScript = {
<script type="text/javascript">
<!--

//-->
</script>
}

@main("Startseite")(javaScript) {

	<header>
		<h1>Willkommen bei</h1>
		<div id="titelbild" src="URL für UNO-Bild"></div>
		<h1>Online</h1>
		<h3>Ein Projekt von B.Pllana, D.Sickel und V.Weirich</h3>
	</header>
	<h3 class="hover">Hello @user.username!</h3>
	<div id="erstellen" class="buttons">
		<a  href="@routes.Application.spiel_erstellen()">Spiel erstellen</a>
	</div>
	<div class="buttons">
		<a href="@routes.Application.spielliste()">Spiel beitreten</a>
	</div>
	<div class="buttons">
		<a href="@routes.GetStarted.regelwerk()">Regelwerk</a>
	</div>
	<div class="buttons">
		<a href="@routes.Application.testChat()">Chatroom betreten</a>
	</div>
	<script type="text/javascript">
	
	        
		
	</script>
}